.content {
    margin-top: 1vh;
    width: 95vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    // border: 1px dashed green;
}

.container {
    display: flex;
    justify-content: center;
    // border: 1px dashed purple;
    height: 100%;
    width: 100%;
}

.container-search-toolbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    // border: 1px dashed purple;
}